{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container border rounded text-right" style="margin-top:50px">
        <h2>ویرایش سوال</h2>
        <div class="row" >
            <div class="col-md-12">

                    <form method="POST"> {%csrf_token%}

                       {{form.media}}
                      
                      {{form|crispy}}
                      <input type="submit" class="save btn btn-primary" value="ثبت"/>
                    </form>

            </div>
        </div>
    </div>         
{% endblock  %}