{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 p-5 my-5 border rounded text-right">
    <div class="row">
        <div class="col-10 ">
            <a href="{% url 'questions:ask' %}" class="btn btn-info ml-5 ">سوالتو بپرس</a>
        </div>
    </div>    

</div>


{% for q in questions %}
    <div class="container mt-3 border rounded text-right">
        <div class="row">
            <div class="col-10 border-left">
                <div class="my-2 text-primary"><h3><a href="{%url 'questions:pk' pk=q.id%}">{{q.title}}</a></h3></div>
                <div class="mb-2">{{q.snippet|safe}}</div>
                <div class="d-inline">
                    {% for tag in q.tags.all%}
                        <a href="#" class="badge badge-info ml-2">{{tag}}</a>
                    {% endfor %}   
                </div>
                <div class="text-left d-inline">
                    <div>{{q.date_published}}</div>
                    <div>
                        <span>user</span>
                        <span>logo</span>
                    </div>
                </div> 
                
            </div>
            <div class="col-2 text-center">
                <div class="m-4">
                    <span class="d-block">{{q.answer_set.all.count}}</span>
                    <span>‍پاسخ ها</span>
                </div>
                <div>
                    <span class="d-block">0</span>
                    <span>آراء</span>
                </div>
            </div>   
        </div>
    </div>

{% endfor %}

{% endblock  %}
